* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: sans-serif;
    src: url(../fonts/TTHoves-Light.ttf);
    src: url(../fonts/TTHoves-Bold.ttf);
    src: url(../fonts/OpenSans-Light.ttf);
    src: url(../fonts/OpenSans-Bold.ttf)
}

.footer {
    margin-top: 20px;
    font-family: 'TT Hoves Hairline', 'Open Sans', sans-serif;
    background-color: #2C2C2C;
    color: white;
}

.footer__main {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr 1fr;
    column-gap: 70px;
    padding: 58px 135px 60px 135px;
}

.footer__logo {
    justify-self: center;
}

.footer__title-text {
    padding-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.footer__text {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer__text:hover {
    text-decoration: underline;
}

.footer__information-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.footer__contacts-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    grid-gap: 40px;
}

.footer__social-link {
    display: flex;
    flex-direction: row;
    grid-gap: 40px;
}

.footer__images {
    width: 100%;
    max-width: 100%;
}

.footer__copyright {
    padding: 25px 0 30px 0;
    margin-bottom: 0%;
    text-align: center;
    font-family: 'Open Sans', 'TT Hoves Hairline', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: rgba(200, 200, 200, 0.5);
}

@media screen and (min-width: 768px) and (max-width: 1365px) {
    .footer__main {
        display: grid;
        grid-template-columns: 1fr 1fr 1.5fr 1fr;
        column-gap: 15px;        
        padding: 58px 35px 55px 35px;
    }
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        padding: 10px 0;
    }

    .footer__main {
        display: flex;
        flex-direction: column;
        padding: 20px 5px 20px 5px;
        text-align: center;
    }

    .footer__logo {
        display: none;
    }

    .footer__information {
        display: none;
    }

    .footer__social {
        margin-top: 30px;
    }

    .footer__contacts-list {
        grid-gap: 10px;
    }

    .footer__social-link {
        display: flex;
        flex-direction: row;
        grid-gap: 40px;
        justify-content: center;
    }
}