* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: sans-serif;
    src: url(../fonts/TTHoves-Light.ttf);
    src: url(../fonts/TTHoves-Bold.ttf);
    src: url(../fonts/OpenSans-Light.ttf);
    src: url(../fonts/OpenSans-Bold.ttf)
}

body {
    font-family: 'TT Hoves Hairline', 'Open Sans', sans-serif;
    font-size: 0.7rem;
    background-color: #ffffff;
}

main {
    width: 80vw;
    margin: 5vh 10vw 5vh 10vw;
    display: flex;
    flex-direction: column;
}

.title_first-word {
    font-weight: 300;
    font-size: 3rem;
    text-transform: uppercase;
    color: #BDBDBD;
}

.title_second-word {
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    color: #333333;
}

.container {
    margin-top: 1rem;
}

.img-line {
    max-width: 88%;
    margin: 0 3vw 2vh 1vw;
}

.img-fluid {
    max-width: 100%;
}

.description {
    margin-top: 1rem;
}

.container-page-box {
    display: flex;
    flex-direction: row;
    width: fit-content;
    width: -moz-fit-content;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.page-box {
    display: flex;
    flex-direction: row;
    width: fit-content;
    width: -moz-fit-content;
}

.page-number {
    font-size: 1.5rem;
    line-height: 3.4rem;
    margin: 0 1rem 0 1rem;
    cursor: default;
}

.current_page-number {
    color: #000000;
}

.max_page-number {
    color: #BDBDBD;
}

.page-number_button {
    max-width: 100%;
    margin: 0 1rem 0 1rem;
    outline: none;
    border: none;
}

.page-number_slash {
    max-width: 100%;
    margin: auto 1rem auto 1rem;
    height: 1.5rem;

}

.hvr-grow {
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-forward:hover,
.hvr-forward:focus,
.hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}

.hvr-backward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-backward:hover,
.hvr-backward:focus,
.hvr-backward:active {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
}

html {
    font-size: 16px;
}

.image-box {
    position: relative;
}

.image-box:hover .image-box__description {
    opacity: 1;
}

.image-box__description {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    padding: 20px 35px 0px 35px;
    width: 100%;
    height: 50%;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.7);
    /*анимация*/
    opacity: 0;
    transition: all .5s;
}

@media screen and (max-width: 767px) {
    .image-box {
        position: unset;
        display: flex;
        flex-direction: column;
        height: 120%;
        width: 100%;
        margin-bottom: 20px;
    }
    .image-box__description {
        position: unset;        
        height: 20%;
        padding-top: 5px;
        opacity: 1;
        transition: unset;
        order: 2;
    }
    .image-box__image {
        order: 1;
    }

    .title_first-word,
    .title_second-word {
        font-size: 1.5rem;
    }

    .img-fluid {
        width: 100%;
    }

    .img-line {
        width: 70%;
    }

    .page-number,
    .page-number_slash {
        display: none;
    }

    .row-center {
        justify-content: center;
    }
}